class {}
static function handleClick() {
  alert("Component 1 Clicked by static function!");
}
<h1>Class Component</h1>
<button on-click(handleClick)>
  Click static function
</button>
<button on-click(() => alert("Component 1 Clicked by arrow function!"))>
  Click arrow function
</button>
