// This component is not working properly, and according to the documentation, it should work.

static function handleClick() {
  alert("Component 2 Clicked by static function!");
}
<h1>Static Component</h1>
<button on-click(handleClick)>
  Click static function
</button>
<button on-click(() => alert("Component 2 Clicked by arrow function!"))>
  Click arrow function
</button>
