<header>
  <h1>Marko Components</h1>
</header>
<main>
  <section>
    <class-component/>
  </section>
  <section>
    <static-component/>
  </section>
  <section>
    <split-component/>
  </section>
  <section>
    <split-component-using-global/>
  </section>
</main>
