<mouse-mask class="container">
  <header>
    <h1>Marko Components</h1>
  </header>
  <main>
    <section>
      <component-1/>
    </section>
    <section>
      <component-2/>
    </section>
  </main>
</mouse-mask>
